body {
    
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Noto Sans', sans-serif;
  }
  
  .text-center {
    color: green;
    font-family: "Lucida Console", "Apple Chancery", oblique;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
  }
  
  .form-box {
    width: 350px;
    height: 550px;
    background: transparent;
  }
  
  .box {
    position: absolute;
    left: 67%;
    top: 47%;
    transform: translate(-50%, -50%);
    background-color: rgba(147, 149, 151, 0.671);
    box-shadow: 0 5px 30px black;
    border-radius: 3px;
    padding: 70px 100px;
    background: transparent;
  }
  
  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    padding: 70px 100px;
    box-shadow: -3px -3px 9px #aaa9a9a2;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 25px;
  }
  
  .input-container label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    color: #033E3E;
    
  }
  
  .input-container input {
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: #fff;
  }
  
  .input-container input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #1AA260;
  }
  
  .btn {
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    background-color: rgb(10, 136, 43);
    margin-left: 70px;
    margin-top: 20px;
    color: white;
    font-weight: 600;
  }